/OneDrive/Desktop/NUS/Y2S2/IS3106/ConnectIS/nbproject/private/
/OneDrive/Desktop/NUS/Y2S2/IS3106/ConnectIS/ConnectIS-war/nbproject/private/
/OneDrive/Desktop/NUS/Y2S2/IS3106/ConnectIS/ConnectIS-ejb/nbproject/private/
/OneDrive/Desktop/NUS/Y2S2/IS3106/ConnectIS/build/
/OneDrive/Desktop/NUS/Y2S2/IS3106/ConnectIS/ConnectIS-war/build/
/OneDrive/Desktop/NUS/Y2S2/IS3106/ConnectIS/ConnectIS-ejb/dist/
/OneDrive/Desktop/NUS/Y2S2/IS3106/ConnectIS/ConnectIS-ejb/build/
/OneDrive/Desktop/NUS/Y2S2/IS3106/ConnectIS/dist/
/OneDrive/Desktop/NUS/Y2S2/IS3106/ConnectIS/ConnectIS-war/dist/
